/* app/globals.css */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5; /* Latar belakang abu-abu muda yang modern */
  color: #333; /* Warna tulisan default hitam */
}

* {
  box-sizing: border-box;
}

input, button {
  font-family: inherit;
}